.suggested{
    background-color: var(--brand-primary);
    padding-top: responsive-size(var(--space-sm));

    @include media(small, portrait){
        padding-top: responsive-size(var(--space-md));
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        overflow: hidden;
    }
    &__see-all {
        text-decoration: underline;
    }
    &__items {
        margin-top: responsive-size(var(--space-sm));
    }
    &__item {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - responsive-size(var(--space-sm)));
        grid-column: 1/-1;
        height: fit-content;
        max-height: 60vh;
        
        @include media(large){
            max-height: 40vh;
        }
        @include media(small){
            max-height: 30vh;
        }
        @include media(extra-small){
            max-height: 40vh;
        }

        & a {
            width: 100%;
            height: 100%;
            position: relative;
            @include h4;
        }
    }
    &__image-wrapper{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__details {
        padding-top: responsive-size(calc(var(--base-grid-margin) * 0.75));
        display: flex;
        justify-content: space-between;
    }
    &__swiper {
        & .swiper-wrapper {
            align-items: flex-end;
        }
    }
}