.suggested{
    background-color: var(--brand-primary);
    padding-top: responsive-size(var(--space-sm));

    @include media(small, portrait){
        padding-top: responsive-size(var(--space-md));
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__see-all {
        text-decoration: underline;
    }
    &__items {
        margin-top: responsive-size(var(--space-sm));
    }
    &__item {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - responsive-size(var(--space-sm)));
        grid-column: 1/-1;
        height: fit-content;
        max-height: 60vh;

        & a {
            width: 100%;
            height: 100%;
            position: relative;
        }
        &--1 {
            @include media-min-width(small){
                grid-column: span 6;
            }
        }
        &--2 {
            @include media-min-width(small){
                grid-column: span 6;
            }
        }
        &--4 {
            @include media-min-width(small){
                grid-column: 7/-1;
            }
        }
        &--5 {
            @include media-min-width(small){
                grid-column: span 8;
            }
        }
    }
    &__image-wrapper{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__details {
        padding-top: responsive-size(calc(var(--base-grid-margin) * 0.75));
        display: flex;
        justify-content: space-between;
    }
    &__end-wrapper{
        margin-top: responsive-size(var(--space-xl));
        margin-bottom: responsive-size(var(--space-xl));
        text-align: center;
    }
    &__swiper {
        & .swiper-wrapper {
            align-items: flex-end;
        }
    }
}