// Breakpoints
$breakpoints:(
    ultra-large: 1920px,
    extra-large: 1440px,
    large: 1280px,
    medium: 991px, // tablet
    small: 767px, // mobile landscape
    extra-small: 576px, // mobile portrait
    tiny: 320px, // tiny screens
);

:root {
    // Base
    --vw: 100vw;
    --vh: 100vh;
    --unit-vw: calc(var(--vw) / 100);
    --unit-vh: calc(var(--vh) / 100);
    --unit-fx: calc(var(--vw)/ 1440);
    --unit-fy: calc(var(--vh)/ 960);

    //Grid
    --base-grid-margin: 32;
    --base-vertical-padding: var(--base-grid-margin);
    --unit-grid-margin: calc(var(--base-grid-margin) * var(--unit-fx));

    // Colors
    --brand-primary: #cccdcb;
    --brand-secondary: #222324;
    --background-color: var(--brand-primary);
    --text-color: var(--brand-secondary);

    // Fonts
    --font-family-primary: 'PP Neue Montreal TT';
    --font-weight: 500;

    // Typescale
    --title-1: 72;
    --title-2: 54;
    --title-3: 32;
    --paragraph-text: 20;

    // Breakpoints
    --br-xxl:   #{map-get($map: $breakpoints, $key: ultra-large)};
    --br-xl:    #{map-get($map: $breakpoints, $key: extra-large)};
    --br-lg:    #{map-get($map: $breakpoints, $key: large)};
    --br-md:    #{map-get($map: $breakpoints, $key: medium)};
    --br-sm:    #{map-get($map: $breakpoints, $key: small)};
    --br-xxs:   #{map-get($map: $breakpoints, $key: tiny)};

    // z-index
    --z-index-loader: 1000;
    --z-index-nav: 100;

    // Easing
    --default-ease: '.43,.194,.021,1';
    --alias-default-ease: cubic-bezier(.43,.195,.02,1);

    // Custom
    --large-title-padding-top: 96;
}



/*==============================================================
    Responsive
==============================================================*/
// Media orientation portrait & Screen width below 767px
@media screen and (max-width: map-get($map: $breakpoints, $key: small))  and (orientation: portrait){
    :root{
        --unit-fx: calc(var(--vw)/ 375);
        --unit-fy: calc(var(--vh)/ 726);

        --base-grid-margin: 12;
        --base-vertical-padding: var( --base-grid-margin);

        // Typescale
        --title-1: 32;
        --title-2: 24;
        --title-3: 16;
        --paragraph-text: 12;

        // Custom
        --large-title-padding-top: 56;
    }
}

// Media orientation portrait & Screen width below 576px
@media screen and (max-width: map-get($map: $breakpoints, $key: extra-small))  and (orientation: portrait){
    :root{
        --base-vertical-padding: calc(2 * var(--base-grid-margin));

        // Typescale
        --title-1: 36;
        --title-2: 30;
        --title-3: 22;
        --paragraph-text: 18;
    }
}
