:root {
    // Base
    --vw: 100vw;
    --vh: 100vh;
    --unit-vw: calc(var(--vw) / 100);
    --unit-vh: calc(var(--vh) / 100);
    --unit-fx: calc(var(--vw)/ 1440);
    --unit-fy: calc(var(--vh)/ 960);

    //Grid
    --base-grid-margin: 32;
    --unit-grid-margin: calc(var(--base-grid-margin) * var(--unit-fx));

    // Colors
    --brand-primary: #cccdcb;
    --brand-secondary: #222324;
    --background-color: var(--brand-primary);
    --text-color: var(--brand-secondary);

    // Fonts
    --font-family-primary: 'PP Neue Montreal TT';
    --font-weight: 500;

    // Z-index
    --z-index-loader: 1000;
    --z-index-nav: 100;

    // Easing
    --default-ease: '.43,.195,.02,1';
}
