.footer {
    color: var(--brand-secondary);
    margin-top: responsive-size(var(--space-xxl));

    &__details-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: responsive-size(var(--space-sm));

        @include media(small, portrait){
            grid-template-columns: 1fr;
            row-gap: responsive-size(var(--space-sm));
        }
    }
    &__left-box {
        display: flex;
        align-items: flex-end;
    }
    &__right-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        @include media(small, portrait){
            flex-direction: column;
            align-items: flex-start;
            gap: responsive-size(var(--space-sm));
        }
    }
    &__link {
        & a {
            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: responsive-size(1.5);
                background-color: var(--brand-secondary);
                transition: transform 1s var(--alias-default-ease);
                transform-origin: left;
                transform: scaleX(0);
            }

            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
            &:not(:hover) {
                &::after{
                    transform-origin: right;
                    transform: scaleX(0);
                }
            }
        }
    }
    &__credits-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include media(small, portrait){
            align-items: flex-start;
        }
    }
    &__logo-wrapper {
        position: relative;
        width: 100%;
        margin-top: responsive-size(var(--space-xl));
    }
    &__logo {
        width: 100%;
        fill: currentColor;
    }
}