.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var( --z-index-nav);
    padding: responsive-size(var(--base-grid-margin));
    padding-bottom: 0;
    mix-blend-mode: difference;
    color: var(--brand-primary);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-wrapper {
        width: responsive-size(76);
        flex: 1;
    }
    &__logo {
        height: responsive-size(20);
        fill: currentColor;
    }
    &__links-wrapper {
        flex: 1;
    }
    &__links {
        display: flex;
    }
    &__link {
        & a {
            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: responsive-size(1.5);
                background-color: var(--brand-primary);
                transition: transform 1s var(--alias-default-ease);
                transform-origin: left;
                transform: scaleX(0);
            }

            &:hover{
                &::after{
                    transform: scaleX(1);
                }
            }
            &:not(:hover) {
                &::after{
                    transform-origin: right;
                    transform: scaleX(0);
                }
            }
        }
    }
    &__link-separator {
        margin-right: responsive-size(3);
    }
    &__location-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__location {
        position: relative;
        margin-right: responsive-size(8);
    }
    &__dot {
        width: responsive-size(10);
        height: responsive-size(10);
        background-color: var(--brand-primary);
        border-radius: 50%;
    }
}
