.loader {
    --bottom-y: 0;
    --y-percent: 0;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: var(--z-index-loader);
    width: 100vw;
    height: 100%;
    padding: responsive-size(var(--space-sm));

    &__frame {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--brand-primary);
    }
    &__logo-wrapper {
        position: relative;
        width: 100%;
        margin-top: responsive-size(var(--large-title-padding-top));
    }
    &__logo {
        width: 100%;
        fill: currentColor;
        position: absolute;
        left: 0;
        bottom: calc(var(--bottom-y) * 1%);
        transform: translateY(calc(var(--y-percent) * 1%));
    }
}