.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: responsive-size(var(--space-md));
    padding-bottom: responsive-size(var(--space-sm));

    &--no-padding-top {
        padding-top: 0;
    }
}