.about {
    &-main {
        &__wrapper {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__content {
            &--first {
                width: 100%;
                @include h1;
            }
            &--second {
                width: 66%;
                @include h1;
              
                @include media-min-width(small){
                    padding-right: responsive-size(var(--space-xl));
                }
                @include media(medium, portrait){
                    width: 100%;
                }
            }
            &--third {
                width: 33%;
                @include h4;
                display: flex;

                @include media(medium, portrait){
                    width: 58%;
                    margin-top: responsive-size(var(--space-xl));
                    margin-left: auto;
                }
                @include media(small, portrait){
                    width: 100%;
                }
            }
        }
        &__text {
            &--end {
                align-self: flex-end;
            }
            &--line {
                overflow: hidden;
            }
        }
        &__title {
            &--line {
                overflow: hidden;
            }
        }
        &__img-wrapper {
            margin-top: responsive-size(var(--space-xl));
            width: 58%;
            height: clamp(30rem, 120vh, 85rem);
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            @include media(medium){
                width: 100%;
                height: clamp(25rem, 80vh, 70rem);
            }

            @include media(small, portrait){
                height: clamp(30rem, 60vh, 45rem);
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-symphony {
        &__wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            grid-template-rows: auto auto;
            column-gap: responsive-size(var(--space-sm));
            row-gap: responsive-size(var(--space-sm));
        }
        &__header {
            grid-column: span 7;
            display: flex;
            justify-content: space-between;

            @include media(medium){
                grid-column: 1/-1;
            }
        }
        &__title {
            @include h2;
            
            @include media(medium){
                @include h1;
            }

            &--line {
                overflow: hidden;
            }
        }
        &__content-wrapper {
            grid-column: 4/span 4;
            display: flex;
            flex-direction: column;

            @include media(medium){
                grid-column: 7/span 6;
            }
            @include media(small){
                grid-column: 1/-1;
            }
        }
        &__content{
            align-self: flex-end;

            &--2 {
                margin-top: responsive-size(var(--space-xs));
            }
        }
        &__img-wrapper {
            height: clamp(25rem, 35vh, 50rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-beauty {
        &__section-height {
            width: 100%;
            height: 300vh;
            position: relative;
        }
        &__sticky-element {
            width: 100%;
            height: 100dvh;
            position: sticky;
            top: 0;
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
        }
        &__track {
            height: 100%;
            flex: none;
            position: relative;
        }
        &__track-flex {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            margin-right: -100vw;
        } 
        &__img-wrapper {
            width: 100vw;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__content-wrapper {
            width: clamp(40rem, 43vw, 60rem);
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: responsive-size(var(--space-xl));
        }
        &__content-label {
            width: 100%;
            margin-bottom: responsive-size(var(--space-sm));
        }
        &__header {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &-shape {
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            padding: responsive-size(var(--space-xl)) responsive-size(var(--space-sm));
            padding-right: 0;

            @include media(small, portrait){
                align-items: center;
            }
        }
        &__item {
            width: clamp(40rem, 40vw, 50rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            flex: none;
            margin-right: responsive-size(var(--space-sm));
        
            @include media(small, portrait){
                width: clamp(16rem, 75vw, 30rem);
                align-items: center;
            }
        }
        &__img-wrapper {
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-grid {
        &__section-width {
            position: relative;
            width: 175vw;
        }
        &__sticky-element {
            width: 100vw;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        &__overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: var(--brand-secondary);
            opacity: 0;
            z-index: 4;
        }
        &__content-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: responsive-size(var(--space-sm));
            padding: responsive-size(var(--space-sm));
            color: var(--brand-primary);

            @include media(small, portrait){
                grid-template-columns: repeat(1, minmax(0, 1fr));
                align-content: end;
            }
        }
        &__title-wrapper {
            grid-column: span 4;
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            @include media(medium){
                grid-column: span 6;
            }

            @include media(small){
                grid-column: 1/-1;
            }
        }
        &__description-wrapper {
            grid-column: 9/-1;
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            @include media(medium){
                grid-column: span 6;
            }
            @include media(small, portrait){
                grid-column: 1/-1;
                margin-top: responsive-size(var(--space-sm));
            }
        }
        &__title {
            @include h2;

            &--line {
                overflow: hidden;
            }
        }
        &__description {
            @include p;
            margin-top: responsive-size(var(--space-sm));
        }
        &__img-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;

            &--1 {
                z-index: 2;
            }
            &--2 {
                z-index: 1;

                @include media(small, portrait){
                    display: none;
                }
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-quote {
        background-color: var(--brand-primary);
        position: relative;
        z-index: 1;

        &__label-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &__main-wrapper {
            margin-top: responsive-size(var(--space-sm));
        }
        &__row {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            grid-template-rows: 1fr 1fr;
            column-gap: responsive-size(var(--space-sm));

            &--2 {
                margin-top: responsive-size(var(--space-sm));
            }

            @include media(small, portrait){
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
        &__content {
            overflow: hidden;
            @include super-large-text;
            line-height: 1.06;

            &--1 {
                grid-column: span 8;

                @include media(small){
                    grid-column: 1/-1;  
                }
            }
            &--2 {
                grid-column: span 8;

                @include media(small){
                    grid-column: 1/-1;  
                }
            }
            &--3 {
                grid-column: 5/-1;
                text-align: right;

                @include media(small){
                    grid-column: 1/-1;  
                }
            }
            &--4 {
                grid-column: 5/-1;
                text-align: right;

                @include media(small){
                    grid-column: 1/-1;  
                }
            }
        }
        &__img-wrapper {
            overflow: hidden;
            grid-row: 1/-1;

            &--1 {
                grid-column: 10/-1;  
                
                @include media(small){
                    grid-column: 1/-1;  
                }
            }
            &--2 {
                grid-column: span 3;

                @include media(small){
                    grid-column: 1/-1;  
                }
            }

            
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-credits {
        &__content-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: responsive-size(var(--space-sm));

            @include media(small){
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
        &__title-wrapper {
            grid-column: span 4;
            @include h4;

            @include media(medium){
                grid-column: span 6;
            }

            @include media(small){
                @include h3;
                grid-column: 1/-1;
            }
        }
        &__credits{
            grid-column: span 4;
            display: flex;
            flex-direction: column;
    
            &--left {
                @include media(medium){
                    grid-column: span 6;
                }
                @include media(small){
                    margin-top: responsive-size(var(--space-xl));
                    grid-column: 1/-1;
                }    
            }
            &--right {
                @include media(medium){
                    margin-top: responsive-size(var(--space-xl));
                    grid-column: 7/span 6;
                }
                @include media(small){
                    margin-top: responsive-size(var(--space-xl));
                    grid-column: 1/-1;
                }
            }
        } 
        &__links {
            display: flex;
        }
        &__link-separator {
            margin-right: responsive-size(3);
        }
    }
    &-home {
        grid-column: 1/-1;
        text-align: center;
    }
    &-spacer {
        grid-column: 1/-1;
        height: clamp(20rem, 30vh, 40rem);

        @include media(medium){
            height: clamp(15rem, 20vh, 30rem); 
        }
        @include media(small){
            height: clamp(10rem, 15vh, 20rem); 
        }
    }
}