.hero {
    &__large-title {
        width: 100%;
        padding-top: responsive-size(var(--space-xl));
    }
    &__logo {
        width: 100%;
        fill: currentColor;     
    }
    &__wrapper{
        margin-top: responsive-size(var(--space-sm));
        margin-bottom: -100vh;
    }
    &__image-wrapper {
        position: sticky;
        top: 0;
        left: 0;
        z-index: -1;
        height: 110vh;

        @include media(small, portrait){
            position: relative;
            height: 50vh;
        }
    }
    &__overlay{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: var(--brand-secondary);
        opacity: 0;
        z-index: 1;
    }
    &__content-wrapper {
        padding-left: responsive-size(var(--space-sm));
        padding-bottom: responsive-size(var(--space-md));
        padding-right: responsive-size(calc(12 * var(--base-grid-margin)));

        @include media(small, portrait) {
            padding-top: responsive-size(var(--space-sm));
            padding-right: responsive-size(var(--space-xl));
        }
        @include media(extra-small, portrait) {
            padding-right: responsive-size(var(--space-md));
        }
    }
    &__content {
        color: var(--brand-primary);

        @include media(small, portrait){
            color: var(--brand-secondary);
        }
    }
    &__spacer {
        height: 100vh;
    }
}

.repertoire {
    background-color: var(--brand-primary);
    padding-top: responsive-size(var(--space-sm));

    @include media(small, portrait){
        padding-top: responsive-size(var(--space-md));
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__see-all {
        text-decoration: underline;
    }
    &__items {
        margin-top: responsive-size(var(--space-sm));
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: responsive-size(var(--space-sm));
        row-gap: responsive-size(var(--space-md));

        @include media(small, portrait){
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - responsive-size(var(--space-sm)));

        & a {
            width: 100%;
            height: 100%;
        }
        &--3 {
            @include media-min-width(small){
                grid-column: 1/-1;
            }
        }
        &--4 {
            @include media-min-width(small){
                grid-column: 2/-1;
            }
        }
    }
    &__details {
        padding-top: responsive-size(calc(var(--base-grid-margin) * 0.75));
        display: flex;
        justify-content: space-between;
    }
    &__end-wrapper{
        margin-top: responsive-size(var(--space-xl));
        margin-bottom: responsive-size(var(--space-xl));
        text-align: center;
    }
}