.shape{
    &-hero {
        $self: &;

        &__wrapper{
            width: 100%;
            height: 100svh;
            background-color: gray;
            position: relative;
            color: var(--brand-primary);
        }
        &__img-wrapper {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        &__img-overlay{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: var(--brand-secondary);
            opacity: 0;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__content-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: responsive-size(var(--space-sm));
        }
        &__name {
            @include font-size(var(--paragraph-text));
        }
        &__description-wrapper {
            overflow: hidden;
        }
        &__scroll-wrapper {
            position: relative;
            overflow: hidden;
            
            &:hover{
                & #{$self}__scroll {
                    transform: translateY(-100%);
                }
            }
        }
        &__scroll {
            transition: transform .5s var(--alias-default-ease);

            &--second {
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
    }
    &-introduction{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: var(--brand-primary);
        
        &__row {
            display: flex;
            flex-wrap: wrap;
        }
        &__img-wrapper {
            width: 33%;
            flex-shrink: 0;
            aspect-ratio: 4/4;

            @include media(small, portrait){
                order: 3;
                width: 100%;
                max-width: 100%;
                margin-top: responsive-size(var(--space-sm));
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__text-wrapper {
            &--1 {
                width: 100%;       
            }
            &--2 {
                order: 3;
                width: 66%;
                padding-left: responsive-size(var(--space-sm));
            
                @include media(small, portrait){
                    order: 2;
                    width: 100%;
                    max-width: 100%;
                    padding-left: 0;
                }
            }
        }
        &__content {
            @include font-size(var(--title-1));
            line-height: 1.2;
            letter-spacing: -1px;
        }
        &__description-wrapper {
            margin-top: responsive-size(var(--space-xxl));
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            column-gap: responsive-size(var(--space-sm));
        }
        &__description {
            grid-column: 9/span 4;
            @include font-size(var(--title-4));
            line-height: 1.4;

            @include media(medium){
                grid-column: 7/-1;
            }
            @include media(small, portrait){
                grid-column: 1/-1;
            }
        }
    }
    &-visual {
        &__label-wrapper{
            padding-top: responsive-size(var(--space-md));
            padding-bottom: responsive-size(var(--space-sm));
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__main-wrapper {
            width: 100%;
            height: 220vh;
            margin-top: responsive-size(calc(-1* var(--space-md)));
            position: relative;

            @include media(small, portrait){
                height: 50vh;
                margin-top: responsive-size(var(--space-md));
            }
        }
        &__sticky-wrapper {
            position: sticky;
            top: 0;
            z-index: -1;
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-origin: top;

            @include media(small, portrait){
                position: relative;
                height: 100%;
            }
        }
        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: var(--brand-secondary);
            opacity: 0;
        }
        &__clip {
            width: 100%;
            height: 100%;
            overflow: hidden;
            clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
            background-color: var(--brand-secondary);

            @include media(small, portrait){
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)
            }
        }
        &__img-wrapper {
            width: 100%;
            height: 100%;
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.2);
        }
    }
    &-content {
        background-color: var(--brand-primary);

        &__wrapper{
            position: relative;
            display: flex;
            gap: responsive-size(var(--space-sm));

            @include media(small, portrait){
                flex-direction: column;
            }
        }
        &__left-wrapper {
            position: sticky;
            top: responsive-size(var(--space-sm));
            height: calc(100vh - responsive-size(var(--space-sm)));
            width: 50%;
            padding-bottom: responsive-size(var(--space-sm));
            padding-right: responsive-size(var(--space-sm));

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media(small, portrait){
                width: 100%;
                padding-right: 0;
            }
        }
        &__sticky-title {
            @include font-size(var(--display-text));
            line-height: 1;
            letter-spacing: -3px;
        }
        &__info-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__right-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;

            @include media(small, portrait){
                padding-top: responsive-size(var(--space-md));
                width: 100%;
            }
        }
        &__title-wrapper {
            @include font-size(var(--title-3));
        }
        &__paragraph-wrapper {
            margin-top: responsive-size(var(--space-sm));
        }
        &__paragraph {
            margin-bottom: responsive-size(var(--space-sm));

            @include media(small, portrait){
                margin-bottom: responsive-size(var(--space-md));
            }
        }
        &__img-track {
            position: relative;
            height: 300vh;
            width: 100%;
        }
        &__sticky-wrapper{
            position: sticky;
            top: 0;
            height: 100vh;
            width: 100%;
        }
        &__img-wrapper {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
        &__img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.2);

            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        
            &--1{
                z-index: 3;
            }
            &--2{
                z-index: 2;
            }
            &--3{
                z-index: 1;
            }
        }

    }
}