@font-face {
    font-family: var(--font-family-primary);
    src: url("../assets/fonts/PPNeueMontreal-Medium.woff2");
    font-weight: 500;
}

body {
    font-family: var(--font-family-primary), 'Arial', serif;
    font-weight: var(--font-weight)
}

h1 {
    @include font-size(54);
    font-weight: var(--font-weight);
    letter-spacing: -1px;
}