@font-face {
    font-family: var(--font-family-primary);
    src: local(''), url("../assets/fonts/ppneuemontreal-medium-54b454c4.woff2") format("woff2");
    font-weight: var(--font-weight);
}


body {
    font-family: var(--font-family-primary), 'Arial', serif;
    font-weight: var(--font-weight);
    @include p
}


h1 {
    @include h1
}

h2 {
    @include h2
}

h3 {
    @include h3
}

h4 {
    @include h4
}

p {
    @include p
}